:root {
    --input-border-color: #bbb;
    --input-background-color: #227;
    --input-color: #fbf9b3;
    
    --button-color: #227;
    --button-hover-color: #448;

    --reset-button-background-color: #bbb;

    --status-background-color: #fbf9b388;
    --status-color: #fff;

    --error-background-color: #ff0000bb;
    --error-color: #fff;

    --warning-background-color: #ffa500bb;
    --warning-color: #fff;

    --range-background-color: #fbf9b3;
    --range-thumb-color: #55c;
}