
.osext-forecast {
    opacity: 0.7 !important;
}

.osext-inactive {
    opacity: 0.3 !important;
}
.osext-inactive:not(.delete) {
    pointer-events: none;
}

.osext-primary {
    font-weight: bold;
}

.osext-message.osext-hidden, .osext-hidden:not(.osext-set-zat) {
    display: none;
}
.osext-set-zat.osext-hidden, .TOR.osext-hidden {
    visibility: hidden;
    pointer-events: none;
    cursor: initial;
    display: table-cell;
}

.osext-refresh {
    cursor: pointer;
    margin: 10px 3px;
}

.osext-set-zat > * {
    display: none !important;
}
.osext-set-zat.add > .fa-bolt, .osext-set-zat.add > .fa-level-up-alt, .osext-set-zat.delete > .fa-trash-alt {
    cursor: pointer;
}
.osext-set-zat.add > .fa-bolt, .osext-set-zat.add > .fa-level-up-alt {
    display: inline-block !important;
}
.osext-set-zat.delete > .fa-trash-alt, .osext-set-zat.delete > span {
    display: inline-block !important;
    margin-right: 5px;
}

.osext-error {
    background-color: var(--error-background-color);
    color: var(--error-color);
}

.osext-warning {
    background-color: var(--warning-background-color);
    color: var(--warning-color);
}

.osext-status {
    background-color: var(--status-background-color);
    color: var(--status-color);
}

.osext-message {
    display: block;
    padding: 9px 12px;
    position: fixed;
    bottom: 12px;
    right: 12px;
    z-index: 3;
}

#osext-page-request-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.1);
    z-index: 2;
    cursor: progress;
}

#osext-toolbar-container {
    padding: 10px 0px;
    margin-bottom: 5px;
}

#osext-toolbar-container span {
    vertical-align: text-bottom;
    position: relative;
    padding: 5px;
}

#osext-toolbar-container div {
    display: inline-block;
    width: 350px;
}

#osext-toolbar-container .fa-toggle-on,
#osext-toolbar-container .fa-toggle-off {
    position: relative;
    top: 2.5px;
    font-size: 1.4em;
    cursor: pointer;
    color: #5c5;
}
#osext-toolbar-container .fa-toggle-on {
    color: #5c5;
}

#osext-toolbar-container input[type=range] {
    width: 200px;
    height: 6px;
    border-radius: 5px;  
    background: var(--range-background-color);
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    -webkit-appearance: none;
    -webkit-transition: .2s;
    padding: 0px;
}

#osext-toolbar-container input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%; 
    background: var(--range-thumb-color);
    cursor: pointer;
}
  
#osext-toolbar-container input[type=range]::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--range-thumb-color);
    cursor: pointer;
}
